captum
jsonpickle
mathutils
matplotlib
numpy
opencv_python
pandas
Pillow
pycocotools
rtpt
scikit_learn
seaborn
tabulate
timm
opencv-python
#detectron2 @ git+https://github.com/facebookresearch/detectron2.git
# pyswip @ git+https://github.com/yuce/pyswip@master#egg=pyswip
pyswip @ git+https://github.com/david-r-cox/pyswip@swi-prolog-8.5.3-support
popper-ilp @ git+https://github.com/logic-and-learning-lab/Popper@v2.0.0
orange3
clingo
#python-rdm @ git+https://github.com/xflows/rdm.git